::-webkit-scrollbar {
  width: 0;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



/*     Navbar    */
.navbar {
    background-color: #2ca7a2;
    min-height: 5%;
}
nav img {
    width: 40%;
    height: 40%;
}
nav a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 1.2vw;
    font-size: 1.5rem;
}
nav a:hover {
    color: #fcefcb;
}
.navbar-toggler {
    color: #ffffff;
}
nav ul {
    text-align: center;
    margin-right: 2vw;
    margin-left: -8vw;
}
.dropdown-menu {
    background-color: #ffffff;
}
#loginButton {
    background-color: #eb5523;
    color: #ffffff;
    border-radius: 10px;
}



/*     Cover     */

#cover {
    background: url('web/WhatsApp%20Image%202020-11-09%20at%205.45.54%20PM.jpeg') center center no-repeat;
    background-size: 100% 100%;
    height: 50vw;
    text-align: center;
    display: flex;
    align-items: center;
    color: #000000;
}

#cover .line1 {
    font-size: 2vw;
/*    border: 1px solid black;*/
}
#cover .line2 {
    font-size: 7vw;
/*    border: 1px solid black;*/
    font-weight: bold;
    line-height: 0.7;
/*    text-align: center;*/
}
#cover .line3 {
    font-size: 5vw;
/*    border: 1px solid black;*/
    font-weight: bold;
    line-height: 1.2;
/*    text-align: center;*/
}



/*     Process      */


#process {
    background-color: #dcdbd9;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid black;
}
.insideProcess {
    /*    border: 1px solid black;*/
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}
.insideProcess > div {
/*    border: 1px solid yellow;*/
    background-color: #2ca7a2;
}
#process img {
/*    border: 1px solid black;*/
    height: 13vw;
    width: 13vw;
}



/*     Our Services        */

#ourservices .subheading1 {
    text-align: center;
    font-size: 2.7rem;
/*    border: 1px solid black;*/
    margin-top: 2rem;
}
#ourservices .subheading2 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
/*    border: 1px solid black;*/
/*    line-height: 2.5;*/
    margin-top: 2rem;
}

#servicePart {
    margin-left: 0px;
    margin-right: 0px;
}
.ourservicesmainpic {
    width: 80%;
    height: auto;
/*    border: 1px solid black;*/
}
#serviceSubPart {
    margin-top: 1.5rem;
}
.serviceTitles {
    font-size: 1.5rem;
}
.serviceDescriptions {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1;
}



/*     Become Reseller     */


#reseller .heading {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#reseller .subheading1 {
    text-align: center;
    font-size: 2.2rem;
/*    border: 1px solid black;*/
/*    line-height: 2;*/
    color: #000000;
    font-weight: bold;
    margin-top: 5rem;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#reseller .body {
    margin-right: 0px;
    margin-left: 0px;
    background-color: #fcefba;
}
#resellerSubBody {
    margin-top: 1.5rem;
}
.resellermainpic {
    width: 80%;
    height: auto;
}
.resellerTitles {
    font-size: 1.5rem;
}
.resellerDescriptions {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1;
}



/*     Doorshipping     */


#doorshipping .subheading1 {
    text-align: center;
    font-size: 2.2rem;
/*    border: 1px solid black;*/
    color: #000000;
    font-weight: bold;
    margin-top: 5rem;
    margin-right: 0px;
    margin-left: -3.5vw;
    padding-left: 0px;
    padding-right: 0px;
}
#doorshipping .subheading2 {
    text-align: center;
    font-size: 2.2rem;
/*    border: 1px solid black;*/
    color: #000000;
    font-weight: bold;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.doorshippingmainpic {
    width: 100%;
    height: auto;
}
.doorshippingTitles {
    font-size: 1.5rem;
}
.doorshippingDescriptions {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1;
}
#doorshippingSubPart {
    margin-top: 2rem;
}



/*     Brands     */
#brands {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#brands img {
    width: 100%;
}



/*     Working      */
#working {
    margin-top: 3vw;
}
#working .subheading {
    text-align: center;
    font-size: 2.2rem;
/*    border: 1px solid black;*/
/*    line-height: 2;*/
    color: #000000;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#working .description {
    color: #000000;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1.2rem;
}
#working iframe {
    width: 20rem;
    height: 20rem;
}


/*     Why Choose Us     */

#chooseUs {
    text-align: center;
    color: #000000;
    font-weight: 500;
}
#chooseUs .subheading {
    /*    text-align: center;*/
    font-size: 2.2rem;
/*    border: 1px solid black;*/
/*    line-height: 2;*/
    color: #000000;
    font-weight: bold;
    margin-top: 5rem;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.cards > img {
    width: 4rem;
    height: auto;
    margin-bottom: 2vw;
    margin-top: 3rem;
}
.card-title {
    font-size: 1.2rem;
}



/*     Footer     */
#footer {
    background-color: #2ca7a2;
    color: #ffffff;
    margin-top: 10vw;
}
#footer1 {
    font-weight: 600;
    font-size: 1.2rem;
    padding: 2vw 2vw 2vw 2vw;
}
#footer2 {
    border: 1px solid #ffffff;
    padding: 2vw 2vw 2vw 2vw;
    font-weight: 400;
    font-size: 1.1rem;
}
.column > div {
    padding-bottom: 2vw;
}
.column a {
    text-decoration: none;
    color: #ffffff;
}
#footer2 img {
    width: 25vw;
    height: auto;
}
#footer2 center {
    font-size: 2vw;
}
#footer3 {
    color: #000000;
    padding: 1.5vw 1.5vw 1.5vw 1.5vw;
}
#footer3 > span {
    color: #ffffff;
}



/*     Media Links     */
#mediaLinks {
    background-color: #000000;
    padding: 1vw 1vw 1vw 1vw;
}
#mediaLinks img {
    width: 2rem;
    height: auto;
    background-color: #ffffff;
}







